<!DOCTYPE html>
<head>
<body>
<table border="1">
    <tr>
<td colspan="2" align="center" bgcolor="lightblue">Academic Qualifications</td><td colspan="1" align="center" bgcolor="lightblue">Year Awarded</td>
    </tr>
    <tr>
<td rowspan="2" colspan="1" align="center">Bachelor Of Engineering</td><td colspan="1" align="center">The University of Cambridge</td><td colspan="1">1999</td>
    </tr>
    <tr>
<td colspan="2" bgcolor="lightblue" align="center">First Class Honours</td>
    </tr>
    <tr>
<td rowspan="2" colspan="1" align="center">Master of Computer Science</td><td colspan="1" align="center">The University of Tokyo</td><td colspan="1">2006</td>
    </tr>
    <tr>
<td colspan="2" bgcolor="lightblue" align="center">The Best Student Of The Year</td>
    </tr>
    <tr>
<td rowspan="2" colspan="1" align="center">Doctor of Medicine</td><td colspan="1" align="center">The University of Singapore</td><td colspan="1">2015</td>        
    </tr>
    <tr>
<td colspan="2" bgcolor="lightblue" align="center">The Best Thesis Award</td>        
    </tr>
</table>
</body>
</head>
</html>
